name: Build ASP.NET Core MVC

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore MVC.sln

    - name: Build
      run: dotnet build MVC.sln -c Release --no-restore

    - name: Publish
      run: dotnet publish MVC.sln -c Release -o publish

    - name: Upload publish artifact
      uses: actions/upload-artifact@v4
      with:
        name: publish
        path: publish
